$colors: (
    body: (
        color: #343C4D,
    ),
    heading: (
        color: #01022E,
    ),
    theme: (
        primary: #0047FF,
        secondary: #01022E,
    ),
    color: (
        sky-blue: #00B2FF,
        yellow-light: #FFB930,
        yellow-light-2: #F09E24,
        red-light: #DC0000,
        white-default: #ffffff,
        gray-1: #F5F6FC,
        gray-2: #F8F9FD,
        gray-3: #E9EBEE,
        gray-4: #E9EBF8,
        gray-5: #E8E8E8,
        gray-6: #BCBCBC,
        gray-7: #9597C8,
        gray-8: #EFF0F4,
        gray-9: #8C919C,
        gray-10: #EFF1FA,
        gray-11: #667594,
        gray-12: #F0F0F0,
        gray-13: #F8F8F8,
        dark: #121212,
        dark-2: #040426,
        gradient: linear-gradient(90deg, #C3D4FF 0%, #0047FF 100%),
    ),
    border: (
        1: #555C6A,
        2: #E6E7F3,
        3: #737373,
        4: #B8B9DA,
        5: #DCDCDC,
        6: #CFDDE2,
        7: #D1D4E3,
        8: #EAEAEA,
        9: #DADADA,
        10: #DBDEED,
        11: #D2D7E1,
        12: #EBEBEB,
        13: #D3D5E2,
        14: #E0E1E9,
    )
);
